@import "../../root.scss";

.product_card {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: 100%;
  min-height: 100%;
  //background: rgba(179, 179, 179, 0.25);
  border-radius: 50px;

  .img_product {
    padding-top: 100%;

    img {
      position: absolute;
      display: block;
      right: 0;
      top: 0;
      width: 95%;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }

  .name {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: var(--size-2);
    font-weight: 800;
    flex: 1;
  }

  .card_select_block {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: rgba(48, 48, 48);
    padding: 2%;
    margin: 5% 0;

    button {
      background: var(--color-clear);
      flex: 1;
      border: none;
      border-radius: 5px;
      font-size: var(--size-4);
      font-weight: 600;
      cursor: pointer;
      padding: 2%;
    }

    .dough,
    .size {
      display: flex;
      flex: 1;
      margin: 1.5%;

      .active {
        background: var(--color-light-active);
        box-shadow: 0px 2px 4px 0px rgb(34, 34, 34);
      }
    }
  }

  .bottom_card {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-weight: bold;
      font-size: calc(var(--size-2) - 10%);
      line-height: calc(var(--height) / 35);
      letter-spacing: 0.015em;
    }

    button {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      max-height: calc(var(--size-1) * 1.5);
      width: calc(var(--size-1) * 4);
      border: 1px solid orange;
      border-radius: 30px;
      color: orange;
      background: var(--color-clear);
      z-index: 9;
      padding: 4%;
      line-height: 25px;
      text-align: center;
      font-weight: 600;
      font-size: var(--size-3);
      transition: all 0.1s ease-in-out;

      .num {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: var(--size-1);
        height: var(--size-1);
        background-color: orange;
        font-weight: 600;
        border-radius: 50%;
        margin: 0 10%;
        font-size: var(--size-3);
      }

      .minus,
      .plus {
        color: orange;
        font-size: var(--size-2);
        font-weight: 900;
        z-index: 9999;
        cursor: pointer;
        transform: translateY(-5%);
      }

      .minus {
        transform: translateY(-10%);
      }

      &:hover {
        background: orange;
        color: white;
        transition: background 0.15s ease-in-out;

        .num {
          background: white;
          color: orange;
        }

        .minus,
        .plus {
          color: white;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .product_card {
    .bottom_card {
      button {
        width: calc(var(--height) / 12.5 + var(--width) / 22.2222);
      }
    }
  }
}
