@import "../../root.scss";

.content_top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .categories {
    flex: 1;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    border-radius: 60px 0 0 60px;

    button {
      display: inline-block;
      background: var(--color-black);
      padding: calc(var(--size-4) - 0.5%) var(--size-2);
      border-radius: 50px;
      border: none;
      margin: 10px;
      font-size: var(--size-3);
      cursor: pointer;
    }

    .active {
      background: white;
      color: black;
    }

    &::-webkit-scrollbar {
      height: 3px;
      scrollbar-width: 100%;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background: rgb(60, 60, 60);
    }
  }

  .sort {
    position: relative;

    padding: 2.5%;
    text-align: start;
    font-size: var(--size-4);
    border-radius: 60px 0 0 60px;
    background: var(--color-bg);
    z-index: 9999;

    b {
      color: orange;
    }

    &__label {
      white-space: nowrap;
      cursor: pointer;
    }

    &__popup {
      position: absolute;
      background: var(--color-light);
      right: 0;
      margin-top: 1.5%;
      border-radius: 10px;
      z-index: 9999;
      width: calc(var(--size-1) * 7);

      button {
        font-size: var(--size-4);
        width: 100%;
        text-align: start;
        background: rgb(34, 34, 34, 0);
        border: none;
        padding: 12px 20px;
        cursor: pointer;

        &:hover {
          background: rgb(191, 191, 191, 0.25);
        }

        &:nth-child(1) {
          border-radius: 10px 10px 0 0;
        }

        &:nth-last-child(1) {
          border-radius: 0 0 10px 10px;
        }
      }
      .active {
        background: rgb(191, 191, 191, 0.25);
        font-weight: 600;
      }
    }
  }
}
