@import "../../root.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(var(--size-1) * 27.4);
  height: 100%;
  margin-bottom: var(--size-2);

  .left_container {
    min-height: calc(var(--size-1) * 16.9);
    height: 100%;
    width: 100%;
    background: var(--color-light);
    border-radius: 20px;
    padding: var(--size-3) 0;

    h2 {
      font-size: var(--size-1);
      margin: var(--size-2) var(--size-1);
    }

    .basket {
      display: flex;
      flex-direction: column;

      .item {
        display: flex;
        flex-direction: column;
        padding: var(--size-3) var(--size-4);
        border: 1px solid var(--color-light-active);
        border-style: solid none;

        .top,
        .bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: calc(var(--size-4) / 2) 0;

          .left {
            display: flex;

            img {
              height: calc(var(--size-1) * 4);
              width: auto;
            }

            .flex {
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding-left: var(--size-4);

              .name {
                font-size: var(--size-2);
                margin: 0 0 var(--size-4) 0;
              }

              .dough,
              .size {
                font-size: var(--size-3);
              }
            }
          }

          .price {
            font-size: var(--size-3);
            font-weight: 800;
          }

          .right {
            img {
              cursor: pointer;
              height: auto;
              width: var(--size-2);
            }
          }

          .amount {
            background: var(--color-light);
            border: 1px solid var(--color-orange);
            border-radius: 30px;
            padding: calc(var(--size-2) / 6) calc(var(--size-2) / 3);

            .minus,
            .plus {
              font-size: var(--size-2);
              font-weight: 900;
              margin: 0 var(--size-4);
              cursor: pointer;
              height: min-content;
            }

            .num {
              font-size: var(--size-4);
              font-weight: 600;
            }
          }
        }

        .bottom {
          padding-left: calc(var(--size-1) * 1.25);
        }
      }

      .item:last-child {
        border-style: solid none none none;
      }

      .item:first-child {
        border: 1px solid var(--color-light-active);
        border-style: none none solid none;
      }
    }
  }

  .right_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: min-content;
    margin-top: var(--size-1);
    padding: var(--size-2);
    background: var(--color-light);
    border-radius: 20px;

    h3 {
      font-size: var(--size-2);
    }

    .total,
    .agree {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 24px 0;
    }

    button {
      background: var(--color-orange);
      border: none;
      border-radius: 20px;
      padding: calc(var(--size-1) / 2);
      font-size: var(--size-3);
      font-weight: 600;
      cursor: pointer;

      &:hover {
        background: lighten(rgb(255, 150, 0), 5);
        transition: all 0.15s ease-in-out;
      }

      &:active {
        background: darken(rgb(255, 150, 0), 5);
        transform: scale(0.975);
        border: none;
      }
    }

    .agree {
      margin: 7.5% 0 0 0;

      img {
        width: var(--size-3);
      }

      p {
        width: calc(var(--percent) - 10%);
        font-size: calc(var(--size-4) / 1.3);
        color: rgba(255, 255, 255, 0.7);

        a {
          text-decoration: none;
          font-weight: 600;
        }

        a:hover {
          color: orange;
        }
      }
    }
  }
}

@media (min-width: 1281px) {
  .container {
    min-height: calc(var(--size-2) * 24.85);
    flex-direction: row;

    .left_container {
      width: calc(var(--percent) - 30%);
      min-height: calc(var(--size-1) * 19.5);
    }

    .right_container {
      width: calc(var(--percent) / 4 + 2%);
      margin: 0;

      h3 {
        font-size: var(--size-3);
      }
    }
  }
}
