@import "../../root.scss";

footer {
  width: 100%;
  height: 100%;
  padding: 1% 0;
  background: rgb(14, 14, 14);

  .foot_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1504px;
    margin: 0 auto;
    height: 100%;
    padding: 0 32px;

    a {
      border-radius: 20px;

      &:hover {
        transition: all 0.1s ease-in-out;
      }

      &:active {
        transform: scale(0.85);
      }
    }

    .five {
      height: calc((100vh / 45) + (var(--width) / 90));
    }

    .six {
      height: calc((100vh / 35) + (var(--width) / 70));
    }
  }
}

@media (min-width: 1281px) {
  footer {
    .foot_container {
      max-width: calc(var(--size-1) * 40.5);
    }
  }
}
