@import "../../root.scss";

.Search {
  position: relative;
  display: none;

  input {
    width: calc(var(--size-1) * 15);
    color: var(--color);
    padding: var(--size-4);
    padding-left: calc(var(--size-1) * 1.4);
    border: none;
    border-radius: 30px;
    font-size: var(--size-4);
    background-color: var(--color-bg);
    border: calc(var(--size-4) / 8) solid rgba(255, 255, 255, 0.5);

    &:focus {
      outline: none;
      border: calc(var(--size-4) / 8) solid var(--color-orange);
      border-radius: 30px;
    }
  }

  svg:first-child {
    position: absolute;
    top: var(--size-4);
    left: var(--size-4);
  }

  svg:last-child {
    position: absolute;
    top: var(--size-4);
    right: var(--size-4);
    cursor: pointer;
  }
}

@media (min-width: 1280px) {
  .Search {
    display: block;
  }
}
