@import "./root.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color);
}

body {
  margin: 0;
  font-family: Nunito, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: var(--height) !important;
  background: var(--color-bg);
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.wrapper {
  display: flex;
  flex-direction: column;

  min-height: var(--height);

  main {
    flex: 1;
    min-height: 0;
    height: 100%;
    padding-top: var(--size-2);

    .main_container {
      margin: 0 auto;
      padding: 0 2%;
      height: 100%;

      .main_content {
        display: grid;
        grid-template-columns: var(--grid);
        gap: 100px 18px;
        padding: calc(var(--height) / 20 + 2vw) 0;
      }

      .error {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        transform: translateY(90%);
        font-size: var(--size-1);
        text-align: center;
        font-weight: 600;

        p:nth-child(2) {
          font-size: calc(var(--size-1) * 2);
        }
      }

      .full_pizza_content {
        height: calc(var(--height) - (var(--height) / 5));
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          width: calc(var(--size-1) * 12.5);
        }

        .right {
          margin-top: 4%;
          padding: 0 3.5%;
          letter-spacing: 5%;

          h1 {
            font-size: var(--size-1);
            font-weight: 800;
            margin-bottom: 4%;
          }

          p {
            font-size: calc(var(--size-2) - (var(--size-3) / 3));
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .wrapper {
    main {
      .main_container {
        .main_content {
          gap: 140px 69px;
          grid-template-columns: var(--grid);
        }

        .full_pizza_content {
          flex-direction: row;

          img {
            width: calc(var(--size-1) * 12.5);
          }

          .right {
            width: calc(var(--size-1) * 17.5);
            margin-left: 4%;
            letter-spacing: 4%;

            h1 {
              font-size: var(--size-1);
              margin-bottom: 4%;
            }

            p {
              font-size: var(--size-3);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1281px) {
  .wrapper {
    main {
      .main_container {
        max-width: calc(var(--size-1) * 40.5);

        .main_content {
          grid-template-columns: var(--grid);
        }
      }
    }
  }
}
