@import "./root.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color);
}

body {
  margin: 0;
  font-family: Nunito, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: var(--height) !important;
  background: var(--color-bg);
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: var(--height);

  main {
    flex: 1;
    padding-top: var(--size-2);

    .main_container {
      max-width: 1504px;
      margin: 0 auto;
      height: 100%;
      padding: 0 2%;

      .main_content {
        display: grid;
        grid-template-columns: var(--grid);
        gap: 100px 18px;
        padding: calc(var(--height) / 20 + 2vw) 0;
      }
    }
  }
}

@media (min-width: 768px) {
  .wrapper {
    main {
      .main_container {
        .main_content {
          gap: 140px 69px;
          grid-template-columns: var(--grid);
        }
      }
    }
  }
}

@media (min-width: 1281px) {
  .wrapper {
    main {
      .main_container {
        height: 100% !important;
        max-width: calc(var(--size-1) * 40.5);
        .main_content {
          grid-template-columns: var(--grid);
        }
      }
    }
  }
}
