:root {
  --height: 100vh;
  --width: 100vw;
  --percent: 100%;

  --color-bg: rgb(34, 34, 34);
  --color-black: rgb(14, 14, 14);
  --color-light: rgba(48, 48, 48);
  --color-light-active: rgb(191, 191, 191, 0.25);
  --color-clear: rgba(255, 255, 255, 0);

  --color-orange: rgb(255, 150, 0);

  --grid: repeat(2, calc(var(--percent) / 2 - 9px));

  --size-1: calc(var(--width) / 35 + var(--height) / 62.2222);
  --size-2: calc(var(--width) / 45 + var(--height) / 80);
  --size-3: calc(var(--width) / 65 + var(--height) / 115.5555);
  --size-4: calc(var(--width) / 75 + var(--height) / 133.3333);

  @media (min-width: 768px) {
    --grid: repeat(3, calc(var(--percent) / 3 - 46px));

    --size-1: calc(var(--width) / 45 + var(--height) / 80);
    --size-2: calc(var(--width) / 60 + var(--height) / 106.6666);
    --size-3: calc(var(--width) / 85 + var(--height) / 151.1111);
    --size-4: calc(var(--width) / 90 + var(--height) / 160);
  }

  @media (min-width: 1281px) {
    --grid: repeat(4, calc(var(--percent) / 4 - 51.75px));

    --size-1: calc(var(--height) / 55 + var(--width) / 97.7777);
    --size-2: calc(var(--height) / 70 + var(--width) / 124.4444);
    --size-3: calc(var(--height) / 95 + var(--width) / 168.8888);
    --size-4: calc(var(--height) / 105 + var(--width) / 186.6666);
  }
}
